main{
    .tituloTipos{
        text-align: center;
        font-size: 40px;
        background-color:#faf9f9;
        padding: 45px 0 45px 0;
        a{
            color: rgba(0, 0, 0, 0.753);
            text-decoration: none;
            &:hover{
                font-size: 50px;
            }
        }
    }
    section{
        background-color:#bee3db34;
        .tarjetaRecetas{
            margin: 35px;
            div{
                background-color: #89b0ae5b;
            }
        }
    }
    }
