main{
    .principioTips{
        background-color:#faf9f9 ;
        padding: 15px 0 15px 0;
        justify-content: center;
    }
    .seccionTips{
        justify-content: center;
        padding: 10px;
        .card{
            padding: 10px;
            div{

                div{
                    .contCard{
                         background-color: #89b0ae9a;
                    }
                }
            
            }
         }
    }  
     

 } 
